.content-section {
  padding-top: 40px;
  min-height: 20vh;
  @include max-991 {
    padding-top: 30px;
  }
}
.filter-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 30px;
  margin-bottom: 40px;
  align-items: start;
  @include max-991 {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
.items-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  @include max-1200 {
    grid-template-columns: repeat(2, 1fr);
  }
  @include max-991 {
    grid-template-columns: repeat(2, 1fr);
  }
  @include max-767 {
    grid-template-columns: repeat(1, 1fr);
  }
}
.filters-mobile-btn {
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--main-color);
  margin-top: 50px;
  font-size: 20px;
  display: none;
}
.filter-cont .acc-title {
  margin-bottom: 20px;
  font-size: 16px;
}
.filter-title {
  font-weight: 600;
  font-size: 14px;
  color: $main;
  margin-bottom: 8px;
}
.filter-cont .acc-title:not(:first-of-type) {
  margin-top: 20px;
}

.filter-cont .cat-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  padding: 15px 0;
  outline: none !important;
  text-decoration: none !important;
  box-shadow: none;
  color: var(--sec-color);
  font-size: 16px;
  i {
    font-size: 14px;

    transition: all 0.3s ease-in-out;
  }
}
html[dir="ltr"] .filter-cont .btn-link i {
  transform: scaleX(-1);
}
.filter-cont .cat-link:hover {
  color: var(--main-color);
}
.filter-cont .card-body {
  padding: 0;
}
@media (max-width: 992px) {
  .filters-mobile-btn {
    display: flex;
  }
}
.check-group {
  margin-bottom: 10px;
}
.filter-cont .check-group {
  padding: 8px 0;
  margin-bottom: 0;
}
.check-label {
  /* min-width: 25%; */
  text-align: start;
  position: relative;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 0;
  color: $hover;
  padding-inline-start: 25px;
  transition: all 0.3s ease-in-out;
}
.radio-group .check-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  max-width: 100%;
  padding: 0 15px;
  height: 35px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 18px;
  border: 1px solid var(--border-color);
}

.check-label:has(input:checked) {
  border-color: var(--main-color);
  color: $main;
}
.check-group input[type="checkbox"],
.check-group input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.check-group .checkmark {
  border: none;
  border-radius: 0;
  background-color: #f1f1f1;
  border: 1px solid #70707080;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.check-group .custom-checkmark {
  border-radius: 4px;
}
.check-group input[type="checkbox"] ~ .checkmark {
  border-radius: 4px;
}
.check-group:hover input ~ .checkmark {
  background-color: $main;
  transition: all 0.3s ease-in-out;
}
.check-group input:checked ~ .checkmark {
  background-color: $main;
}
.checkmark:after {
  content: "";
  position: absolute;
  opacity: 0;
  visibility: visible;
}
.check-group input:checked ~ .checkmark:after {
  opacity: 1;
  visibility: visible;
}
.check-group input:checked ~ .checkmark {
  background-color: $main;
}
.check-group input:checked ~ .custom-checkmark {
  background-color: $main;
}
.check-group .checkmark:after {
  content: "";
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: $main;
}
.check-group .custom-checkmark:after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 10px;
  color: $white;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.range-silder {
  position: relative;
  margin-bottom: 30px;
}
#slider-range {
  position: relative;
}
#min,
#max {
  position: absolute;
  width: 50px;
  padding: 10px;
  top: 100% !important;
  text-align: center;
  border: 0;
  font-size: 12px;
  font-weight: 400;
  color: $hover;
}
.ui-widget.ui-widget-content {
  border-radius: 10px;
  background-color: $main;
  border: none;
}
.ui-slider .ui-slider-range {
  background-color: #9c9eaf;
}
/* .ui-slider .ui-slider-range{
  background-color: var(--more-color);
} */
.ui-slider .ui-slider-handle {
  border-radius: 50%;
  background-color: $main;
  border: none;
}

@media (max-width: 992px) {
  .filter-cont {
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    top: 75px;
    inset-inline-start: calc(-100vw + 75px);
    z-index: 99;
    transition: 0.5s;
  }
  .filter-cont.active {
    inset-inline-start: 0;
  }
  .filter-panel {
    background-color: $back;
    width: calc(100vw - 75px);
    padding: 20px 30px 20px;
    border-radius: 7px;
    box-shadow: 0px 0px 13px 0px rgb(0 0 0 / 10%);
    margin: 0;
    max-height: calc(100vh - 95px);
    overflow-y: auto;
  }
}

.radio-group .check-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 18px;
}
.btn-filter {
  width: 100%;
  height: 37px;
  border-radius: 7px;
  background-color: #f1f1f1;
  padding: 0 18px 0 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  font-weight: 500;
  font-size: 14px;
  color: #707070;
  border: 1px solid #70707080;
  outline: none;
  text-transform: capitalize;
  i {
    @include tr;
    font-size: 12px;
  }
  &.collapsed {
    i {
      transform: rotate(180deg);
    }
  }
}
.filter-cont .card {
  background-color: #f1f1f1;
  background-clip: border-box;
  border: 1px solid #70707080;
  border-radius: 7px;
  margin-top: 8px;
  padding: 10px 20px 22px;
}
.collapse-item {
  margin-bottom: 12px;
}
.filter-price {
  background-color: #f1f1f1;
  border: 1px solid #70707080;
  border-radius: 7px;
  padding: 12px 18px;
}
.price-head {
  font-weight: 500;
  font-size: 14px;
  color: #707070;
  margin-bottom: 12px;
}
